body{
    font-family:'Roboto', sans-serif;
    font-weight: 500;
}

h1{
    font-size: 1.3em;
}
#message-box{
    width: 60em;
    height: 42em;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

}

h1{
    border-bottom: 1px solid black;
    background: #C4C4C4;
    padding: 1em;
}

#send-message-section{
    position: absolute;
    width: 70%;
    height: 30%;
    background-color: #C4C4C4;
    margin: auto;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid black;
    padding: 1em 1em 1em 1em;
    display: flex;
}

#send-message-section textarea{
    border: 2px solid black;
}

#send-message-section button{
    margin-left: 1em;
    color: white;
    background-color: #0066CC;
    padding: 0.5em;
    border-radius: 10px;
    border: 0;
    width: 7em;
    height: 3em;
}

.message{
    display: flex;
    justify-content: flex-end;
    padding: 0.4em 1em 0em 1em;
    flex-wrap: wrap;

}

.message-text{
    border: 2px solid black;
    width: 100%;
    padding: 0.3em;
    box-sizing: border-box;
}

.edit-btn, .delete-btn{
    padding: 0.3em;
    border: 0;
    cursor: pointer;
}
.edit-btn{
    background-color: #F6A75D;
}

.delete-btn{
    background-color: #F65D5D;
}